/*------------All website-------*/
*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html, body, .home {
	height: 100%;
	overflow-x: hidden
}


.logo {
	max-width: 10rem;
}

h1{
	font-weight: 900;
	letter-spacing: -0.03em;
	margin-bottom: 50px;
	color:white;
}

h2{
	font-weight: 700;
	font-size: 3em;
	letter-spacing: -0.04em;
}

h3{
	font-size: 2em ;
	font-weight: 700;
	letter-spacing:-0.04em;
}

.navbar-dark .navbar-nav .nav-link:hover,
footer .col-md-2 ul li a:hover {
	color: #1ed760;
}

.box{
	padding-top: 20px;
	padding-bottom: 20px;
}


/*------------Nav----------------*/

.transparent {
	padding: 15px, 0px;
	background-color: rgba(0,0,0,0.6);
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

.div{
	display: flex;
	margin: 0 15px;
	color: white;
	align-items: center;
}

.carousel-control-next,
.carousel-control-prev{
	width: 5%;
}

/*---------Footer------------*/

footer {
	position: relative;
	padding: 50px 0px 20px 0px;
	background-color: black;
	color: white
}

footer h4 {
	font-size: 0.8em;
	color: #919496;
}

footer .col-md-2 ul li a {
	font-size: 0.8em;
	text-decoration:none;
	color: white;
	list-style:none;
}

footer ul{
	list-style:none;
}

footer ul li{
	float: right;
	margin: 0 5px;
}

/*--------------------IDEX----------------------------*/

.home-principal{
	background-attachment: fixed;
	background: url(../img/capa.png),
				url(../img/ruido.png),
	linear-gradient(50deg,#ff4169,#7c26f8);
}

/*--------Banner Index----------*/

.center{
	text-align: center;
}

.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius:500px;

	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
	padding: 10px 20px;
}

.btn-purple{
	background: #7c25f8;
}

.btn-purple:hover {
	background: #6207e3;
	color: white;
}

.btn-white{
	border: 2px solid white;
}

.btn-white:hover {
	background-color: white;
	color: black;
}

/*--------what----------*/

#what {
	background: white;
}

.picture {
	padding: 10px;
}

#what h2, h3 {
	color: #7c25f8;
} 

/*--------Easy----------*/

#easy p {
	color: white;
}


#easy h2 {
	color: white;
} 


#easy h3{
	color: #9bf0c1;
} 

.rotated {
	-ms-transform: rotate(30deg); 
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	padding-left: 80px;
}

/*-----------------PREMIUM------------------------*/

/*--------Banner Premium----------*/

.banner-Premium {
	background: rgb(80, 155, 245) url(../img/premium_dancer.png) right bottom / 500px no-repeat;
	color: white;
}

.banner-Premium h1 {
	box-sizing: border-box;
	font-family: spotify-circular, Helvetica, Arial, sans-serif;
	letter-spacing: 0.25px;
}

.banner-Premium h2{
	font-size: 2em;
}

/*--------Section Premium why----------*/
.why h1,
.pick h1,
.visit-help h1{
	font-size: 2em;
	color: inherit;
	margin: 5% 0 1% 0;
	padding: 0px 0px 1em;
	letter-spacing: -0.015em;
	font-weight: 900;
	line-height: 1.3;
}

.why .grup-img {
	max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.why img {
	width: 142px;
	height: 142px;
} 

.why h2{
	font-weight: bold;
    margin-bottom: 10px;
	font-size: 21px;
}

/*--------Section Premium pick----------*/

.pick {
	overflow: auto;
    background: rgb(248, 248, 248);
}

.month {
	font-size: 14px;
	display: inline-block;
	font-weight: 900;
	margin-bottom: 10px;
	background-color: rgb(46, 119, 208);
	color: rgb(255, 255, 255);
	border-radius: 4px;
	padding: 4px 8px;
}

.info{
	color: rgb(145, 148, 150);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
}

.pick a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-shadow{
	max-width: auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*--------------------HELP--------------------------*/

/*--------Banner Premium----------*/

.banner-help {
	display: flex;
	flex: 1 1;
	min-height: 600px;
	background-size: 100%;
    padding: 0 8px 24px;
	background: url(../img/search-desktop.png)  top no-repeat #1c2963;
	color: white;
}

.banner-help h1{
	padding: 80px 0 40px;
	font-size: 64px;
	line-height: 72px;
	letter-spacing: -2px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 700;
}

.banner-help h3{
	color: rgb(217, 217, 217);
	line-height: 20px;
	margin: 8px 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
	letter-spacing: .1em;
	text-align: center;
}

.banner-help p{
	text-align: center;
}

.banner-help form {
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.inputWhitIcon input[type=text] {
	padding-left: 40px;
}

.inputWhitIcon {
	position: relative;
}

.inputWhitIcon i {
	position: absolute;
	left: 0;
	top: 8px;
	padding: 9px 8px;
	color: #aaa;
}

.banner-help input {
	width: 800px;
}

.banner-help h3{
	color: white;
	letter-spacing: .1em;
	font-size: 12px;
}


/*--------info help---------*/


.info-help {
	width: 100%;
	background-color: #eee;
	padding: 30px 0 40px 80px;
}

.info-help h3{
	font-size: 24px;
	line-height: 32px;
	color: black;
}

.info-help ul li a{
	color: #2d46b9;
	margin-bottom: 15px;
	text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}

/*--------visit help---------*/

.visit-help {
	padding-bottom: 5%;
}

.visit-help .text{
	max-width: 450px;
	margin: 0 auto 16px;
	font-size: 18px;
	font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    padding: 0px 0px 1em;
}

.visit-help a {
	box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    background-color: rgb(45, 70, 185);
    color: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 500px;
    text-decoration: none;
    padding: 17px 48px;
}

/*--------------------DOWNLOAD---------------------*/

/*--------Banner Download----------*/

.banner-download {
	padding-top: 214px;
	background-color: rgb(25, 230, 140);
	color: rgb(24, 24, 24);
}

.banner-download h1 {
	font-size: 48px;
	line-height: 56px;
	padding-bottom: 0.67em;
	color: rgb(0, 0, 0);
	font-weight: 900;
	letter-spacing: -1px;
    margin: 0px;
	padding: 0px 0px 0.3em;
}

.banner-download p {
	font-size: 16px;
    font-weight: 400;
    line-height: 24px;
	letter-spacing: 0px;
    margin: 0px;
	padding: 0px 0px 1em;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	text-align: center;
}

.banner-download .laptop {
	max-width: 250px;
	margin-left: 100px;
}

/*------bring Downolad-------*/

.bring {
	height: auto;
	padding-top: 3%;
	padding-bottom: 10%;
}

.bring h3 {
	font-size: 32px;
    line-height: 40px;
	letter-spacing: -0.5px;
	font-weight: 900;
	display: block;
    margin: 0px;
	padding: 1.5em 0px 1em;
	color: black;
}

/*------one account Downolad-------*/

.account {
	width: 0 auto;
	background-color: rgb(34, 35, 38);
	padding-top: 70px;
	height: auto;
	padding-bottom: 5%;
	color: white;
}

.account h3{ 
	color: white;
	padding-bottom: 3%;
}

.size-md {
	margin-left: 15%;
}


.account ul li{
	list-style-type: none;
	padding: 10px;
}

.account ul li a {
	color: #1ed760;
}


.item {
	max-width: 10%;
	margin: 0 16%;
}

/*-----------------SIGNUP------------------------*/

.container-form {
	max-width: 500px;
	height: auto;
	margin: 0 auto;
}

.container-form img {
	max-width: 50%;
	margin-left: 20%;
}

.container-form h1 {
	margin-top: 10px;
	text-align: center;
    line-height: 36px;
	letter-spacing: -0.04em;
	font-size: 32px;
	font-weight: 700;
	padding: 0px 0px 0.1em;
	color: rgb(24, 24, 24);
}

.container-form .btn-change {
	width: 100%;
	cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    background-color: rgb(58, 88, 151);
    color: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 500px;
    padding: 17px 48px;
}

.container-form .form-check .form-config,
.container-form p {
	margin: 5% 0; 
	color: rgb(24, 24, 24);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    padding-left: 12px;
    padding-right: 24px;
}

.container-form p {
	padding-top: 0;
	text-align: left;

}
.container-form span {
	cursor: pointer;
	color: #1ed760;
}

.container-form h2 {
	text-align: center;
	font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
	font-weight: 700;
	margin: 0px;
    padding: 0px 0px 1em;
}

.container-form .label-config {
	font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
	font-weight: 700;
	padding-top: 0.5em;
}

.check-gender {
	text-align: left;
}

.check-gender .form-check-label {
	font-weight: 0;
}

.container-form .form-row {
	text-align: left;
	font-size: 14px;
}

.container-form .checkBox {
	color: rgb(24, 24, 24);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
	letter-spacing: 0.25px;
	padding-top: 12px;
    padding-left: 12px;
	padding-right: 24px;
	text-align: left;
}

.container-form .checkBox .form-check {
	padding: 12px;
}

.container-form .first {
	margin-top: 1em;
	padding-bottom: 2em;
}

.container-form .p-config {
	font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
	margin-top: 2px;
	padding-left: 0;
}

.container-form .form-check-label {
	color: rgb(24, 24, 24);
    padding-left: 12px;
	padding-right: 24px;
	font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.buttonSignUp {
	width: 100%;
	cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    background-color: rgb(29, 185, 84);
    color: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 500px;
    padding: 17px 48px;
}

.container-form .pCustom {
	text-align: center;
	font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}


/*-----------------------Login----------------------*/

.logo-login {
	max-width: 50%;
	margin-left: 38%;
}

.container-form h1 {
	font-size: 16px;
	font-family: inherit;
    line-height: 1.1;
	color: inherit;
	margin: 0 0 3% 0;
}

.container-form .btn-login {
	display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
	white-space: normal;
	margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
	border: 1px solid transparent;
	margin-bottom: 1rem;
}

.container-form .black {
	background-color: black;
	margin-bottom: 1rem;
}

.container-form i {
	padding-right: 1rem;
}

.container-form .forgot {
	font-size: 1em;
	color: #1db954;
	text-align: center;
	cursor: pointer;
}


.container-form .sign-up-link {
	background-color: transparent;
	border-color: #ccc;
	color: black;
}

.sign-up-link:hover {
	background-color: #333;
	color: white;
	text-decoration: none ;
}

.divider {
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
	text-align: center;	
}

.text-privacy p{
	margin: .5em 0 1em;
	font-size: 0.1rem;
	color: #c1c3c6;
	text-align: center;
}

.text-privacy span {
	cursor: pointer;
	color: #1ed760;
}


.btn-login-green {
	padding: 16px 14px 18px;
	color: #fff;
	background-color: #1db954;
	font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
	white-space: normal;
	display: block;
	width: 100%;
	cursor: pointer;
	font-weight: 700;
}


/*---------------Media Queries-----------------------*/

@media (max-width: 575.98px) { 
	/*---------Index------------*/
	.div{
		display: none;
	}

	h1{
		font-size: 2em;
	}

	.btn-custom {
		margin: 10px 15px;
	}


	/*-------Premium------------*/

	.banner-Premium {
		background: rgb(80, 155, 245);
		color: white;
	}

	.banner-Premium h1{
		padding-top: 40%;
		font-size: 2em;
	}

	.banner-Premium h2{
		font-size: 1.5em;
	}

	.box-size{
		margin-left: 20%;
		margin-right: 20%;
	}

	/*-------Help------------*/
	.banner-help {
		background: url(../img/search-mobile.png);
		color: white;
		overflow: hidden
	}

	.banner-help h1{
		margin-top: 50%;
		padding: 30px 0 40px;
		font-size: 38px;
	}


	.banner-help input {
		width: 300px;
	}

	.banner-help h3{
		display: flex;
		align-self: start;
	}
	
	.banner-help p{
		display: flex;
		align-self: start;
	}

	.banner-help h3{
		display: flex;
		align-self: start;
	}
	

	.info-help {
		display: flex;
		align-self: start;
		padding: 0 0 0 0;
	}

	/*-------Download----------*/

	.banner-download h1 {
		font-size: 38px;
	}

	.banner-download .laptop {
		max-width: 50%;
		margin-left: 30%;
	}

	/*-------signUp----------*/

	.check-gender .form-check-label {
		padding-left: 0;
	}

	/*-------signUp----------*/
	.logo-login {
		max-width: 50%;
		margin-left: 20%;
	}

}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	/*---------Index------------*/
	.div{
		display: none;
	}

	h1{
		font-size: 2em;
	}

	.btn-custom {
		margin: 10px 15px;
	}

	/*-------Premium------------*/
	.banner-Premium {
		background: rgb(80, 155, 245);
		color: white;
	}

	.banner-Premium h1 {
		font-size: 3em;
	}

	.box-size{
		margin-left: 20%;
		margin-right: 20%;
	}

	/*-------Help------------*/
	.banner-help {
		background: url(../img/search-mobile.png);
	}

	.banner-help input {
		width: 500px;
	}

	/*-------Download----------*/

	.banner-download .laptop {
		max-width: 40%;
		margin-left: 50%;
	}


	ul.d-flex.size-md {
		margin-left: 100%;
	}

	/*-------signUp----------*/
	.logo-login {
		max-width: 50%;
		margin-left: 25%;
	}


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	/*---------Index------------*/
	.div{
		display: none;
	}

	h1{
		font-size: 3em;
	}

	/*-------Premium------------*/
	.banner-Premium {
		background: rgb(80, 155, 245);
		color: white;
	}

	.banner-Premium h1 {
		font-size: 3em;
	}

	.box-size{
		margin-left: 20%;
		margin-right: 20%;
	}

	/*-------Help------------*/
	.banner-help input {
		width: 500px;
	}

	/*-------Download----------*/
	.banner-download .laptop {
		margin-left: 0;
	}

	ul.d-flex.size-md {
		margin-left: 0;
	}

	/*-------signUp----------*/
	.logo-login {
		max-width: 50%;
		margin-left: 33%;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*---------Index------------*/
	h1{
		font-size: 3em;
	}

	.btn-custom {
		margin: 10px 15px;
	}

	/*-------Premium------------*/
	.banner-Premium h1 {
		font-size: 4em;
	}

	.box-size{
		margin-left: 20%;
		margin-right: 20%;
	}

	.box-size{
		margin-left: 20%;
		margin-right: 20%;
	}


	/*-------Download----------*/
	.banner-download .laptop {
		margin-left: 0;
	}

	ul.d-flex.size-md {
		margin-left: 10%;
	}

	/*-------signUp----------*/
	.logo-login {
		max-width: 50%;
		margin-left: 35%;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	/*---------Index------------*/
	h1{
		font-size: 4em;
	}

	.btn-custom {
		margin: 10px 15px;
	}


}